<div class='row'>
  <div class='col-md-4'>
    <pm-product-list [products]="products$ | async"
                     [displayCode]="displayCode$ | async"
                     [errorMessage]="errorMessage$ | async"
                     (productWasSelected)="productSelected($any($event))"
                     (initializeNewProduct)="newProduct()"
                     (displayCodeChanged)="displayCodeChanges()"></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit [selectedProduct]="selectedProduct$ | async"
                     [errorMessage]="errorMessage$ | async"
                     (create)="saveProduct($any($event))"
                     (clearCurrent)="clearProduct()"
                     (update)="updateProduct($any($event))"
                     (delete)="deleteProduct($any($event))"
                    ></pm-product-edit>
  </div>
</div>